Do you know Google Colab? Free GPUs to run ML models ;)
https://colab.research.google.com/drive/1W-PoyOGCXgzDkac46pwdqQy_8eUaKebv?usp=sharing

# 1. How to get indices of N maximum values in a NumPy array?

In [1]:
import numpy as np

x = np.array([1, 3, 2, 5, 0, -1, 10])
print(f"x: {x}")

x: [ 1  3  2  5  0 -1 10]

In [2]:
N = 3
max_x = np.argsort(-x)[:N]
print(max_x)

[6 3 1]

# 2. Mention the use of // operator in Python?

In [3]:
10 / 3

3.3333333333333335

In [4]:
10 // 3

3

# 3. What is the difference between a list and a tuple?

In [5]:
mylist = [1, 2, 3, 4]
print(f"mylist: {mylist}")
print(f"type(mylist): {type(mylist)}")

mylist: [1, 2, 3, 4]
type(mylist): <class 'list'>

In [6]:
mytuple = (1, 2, 3, 4)
print(f"mytuple: {mytuple}")
print(f"type(mytuple): {type(mytuple)}")

mytuple: (1, 2, 3, 4)
type(mytuple): <class 'tuple'>

In [7]:
mylist[1] = 5
print(f"mylist: {mylist}")

mylist: [1, 5, 3, 4]

In [8]:
mytuple[1] = 5

TypeError: ignored

# 4. What would be the output of the following?

In [9]:
a = [1,2,3] 
b = a 
c = [1,2,3]

In [10]:
print(a == b) # True 
print(a == c) # True

True
True

In [11]:
print(a is b) # True => a and b point to the same object
print(a is c) # False => a and c do not point to the same object

True
False

In [12]:
A0 = dict(zip(('a', 'b', 'c', 'd', 'e'),
              (1, 2, 3, 4, 5))) 
A1 = range(10) 
A2 = sorted([i for i in A1 if i in A0]) 
A3 = sorted([A0[s] for s in A0]) 
A4 = [i for i in A1 if i in A3] 
A5 = {i:i*i for i in A1} 
A6 = [[i, i*i] for i in A1]

In [21]:
list(range(10) )

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
print(f"A0={A0}\nA1={A1}\nA2={A2}\nA3={A3}\nA4={A4}\nA5={A5}\nA6={A6}\n")

A0={'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
A1=range(0, 10)
A2=[]
A3=[1, 2, 3, 4, 5]
A4=[1, 2, 3, 4, 5]
A5={0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
A6=[[0, 0], [1, 1], [2, 4], [3, 9], [4, 16], [5, 25], [6, 36], [7, 49], [8, 64], [9, 81]]

# 5. Define a class named car with 2 attributes, “color” and “speed”. Then create an instance and return speed.

In [14]:
class car():
    def __init__(self, color: str, speed: float):
        self.color = color
        self.speed = speed

ferrari = car(color='red', speed=300)
print(ferrari.speed)

300

# 6. Write a regular expression that will accept an email id. Use the re module.

In [15]:
import re
regex = '^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w+$'

def check(email):

    # pass the regular expression
    # and the string in search() method
    if(re.search(regex,email)):
        print("Valid Email")

    else:
        print("Invalid Email")

In [16]:
check(email="guillaume.simo@hotmail.fr")

Valid Email

In [17]:
check(email="invalidmailahotmail.fr")

Invalid Email

In [18]:
check(email="invalidmail@hotmailfr")

Invalid Email

In [19]:
check(email="invalidmailhotmail.fr")

Invalid Email

# 7. If you have to choose between a list, set, and a dictionary to store 10 million integers, what will you use? Bear in mind that you would later like to query the frequency of a number within the dataset.

In [24]:
import time
start = time.time()
mylist = list(range(10**6)) + [1]
from collections import Counter
freq_count = Counter(mylist)
print(freq_count[1])
print(freq_count[4])
print('This costs {:.4f} s.'.format(time.time() - start))

2
1
This costs 0.1350 s.